header {
  color: var(--black, #252525);
  font-family: Kanit;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: auto 122px;
  height: auto 39px;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.search{
  display: flex;
  height: 38px;
  padding: 8px 16px;
  align-items: center;
  gap: 436px;
  border-radius: 5px;
  border: 1px solid var(--purple, #6C63FF);
}